body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

button {
    width: 200px;
    height: 50px;
    position: absolute;
    font-weight: bold;
    border-radius: 50px;
}

button:hover {
    background: #8EEAFF;
}
