#conteiner {
   width: 1000px;
   height: 10000px;
   margin: auto;
   text-align: center;

}

.bulb-off {
    width: 500px;
    height: 700px;
    background: url('file:///D:/UserDocuments/Desktop/javasriptis%20davaleba/pexels-photo.png.png') no-repeat;
    margin: auto;
}

.bulb-on {
    width: 500px;
    height: 700px;
    background: url('file:///D:/UserDocuments/Desktop/javasriptis%20davaleba/pexels-photo-2061165.jpeg') no-repeat;

}
